extends layout


block content

  h1 Welcome to Render farm #[em v 0.002]
  
  p Render specs:

  if error
    p Error getting dynamic content.
  else
    p Render farm data :






  form(method='POST' action='')
    div.form-group
      label(for='filename') file name : 
      input#filename.form-control(type='text', value='/Volumes/blenderFiles/' name='filename' required='true'  size='75')
    p
    div.form-group
      label(for='jobid')    job ID :    
      input#jobid.form-control(type='text', value='000' name='jobid' required='true') 
    p
    div.form-group
      label(for='samples') samples : 
      input#samples.form-control(type='text', value='4' name='samples' required='true') 
    div.form-group
      label(for='split') split point : 
      input#split.form-control(type='text', value='0.4' name='split' required='true') 
    p


      div.form-group
        label(for='Node1') Node 1 : 
        textarea#Node1.form-control(type='textarea', placeholder='Node1' name='Node1' rows='10' required='true' cols='150') 
      div.form-group
        label(for='Node2') Node 2 : 
        textarea#Node2.form-control(type='textarea', placeholder='Node2' name='Node2' rows='10' required='true' cols= '150') 
    p
      button.btn.btn-primary(type='submit') Submit


  if errors 
    ul
      for error in errors
        li!= error.msg